---
---

@import "{{ site.theme }}";

h1 {
    color: #7875e1
} 

h3 {
    color: #7875e1
}

header {
    border-bottom: 1px dashed #7875e1
}

hr {
    border-bottom: 1px dashed #7875e1;
    color: #7875e1
}